altgraph==0.17.3
antiorm==1.2.1
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
darkdetect==0.7.1
db==0.1.1
db-sqlite3==0.0.1
Flask==2.2.2
Flask-SQLAlchemy==3.0.2
future==0.18.2
greenlet==2.0.1
gunicorn==20.1.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
mpmath==1.2.1
numpy==1.24.1
pandas==1.5.3
pefile==2022.5.30
Pillow==9.3.0
python-dateutil==2.8.2
pytz==2022.7.1
pywin32-ctypes==0.2.0
six==1.16.0
SQLAlchemy==1.4.46
sympy==1.11.1
Werkzeug==2.2.2
